# java_test(
#   name = 'tests',
#   deps = [
#   {% for var in range(0, subprojectnum) %}
#   '//subproject{{ var }}:tests',{% endfor %}
#   ':junit',
#   ':hamcrest-core'],
# )

# define a dependency
maven_jar(
    name = 'junit',
    id = 'junit:junit:4.11',
    visibility = ['PUBLIC'],
)

maven_jar(
    name = 'hamcrest-core',
    id = 'org.hamcrest:hamcrest-core:1.3',
    visibility = ['PUBLIC'],
)
